\*{
    font-size: 62.5%;
}

html, body{
    width: 100%;
    overflow-x: hidden;
}

.carousel {
    position: relative;
    width: 100%;
    height: 35%;
    margin: 5rem auto;
    overflow: hidden;
    border-radius: 1.4rem;
}

.carousel-track {
    display: flex;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease; /* deslizar suave */
}

.carousel-item {
    min-width: 100%;
    height: 100%;
    position: relative;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-title {
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    font-size: 2.5rem;
    color: white;
    text-shadow: 0 0 10px black;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0,0,0,0.5);
    color: white;
    border: none;
    padding: 12px;
    cursor: pointer;
    font-size: 22px;
    border-radius: 50%;
}

.prev { left: 10px; }
.next { right: 10px; }


.sobre{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1.5rem auto;
    width: 80%;
    font-family: "JetBrains Mono", monospace;
    font-size: 1.2rem;
    line-height: 1.6;
    color: #333;
    padding: 1.1rem;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
}
.sobre p{
    margin-bottom: 1rem;
    font-size: 1.1rem;
}

.sobre h2{
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #F30800;
    text-decoration: underline;
}

.sobrenos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1.5rem auto;
    width: 80%;
    font-family: "JetBrains Mono", monospace;
    font-size: 1.2rem;
    line-height: 1.6;
    color: #333;
    padding: 1.1rem;
    border-radius: 1rem;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.1);
}

.sobrenos h2{
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #F30800;
    text-decoration: underline;
}

.sobrenos ul li{
    font-size: 0.9rem;
}   
.sobrenos ul li a{
    margin-left: 0.5rem;
    color: #333;
    text-decoration: none;
}
.sobrenos p{
    margin-bottom: 1rem;
    font-size: 1.1rem;
}

.status{
    font-size: 1rem;
    font-family: "JetBrains Mono", monospace;
    width: fit-content;
    margin: 1rem auto;
    padding: 10px;
    border-radius: 0.5rem;
    animation: expand 0.3s ease-in;
}

.sucesso{
    background-color: rgb(206, 247, 206, 0.8);
    text-align: center;
    width: fit-content;
    padding: 20px;
    margin: 1rem auto;
    border-radius: 1rem;
    animation: fadeInfadeout 1s ease-in;
    animation-fill-mode: forwards;

}

.erro{
    background-color: rgb(255, 180, 180, 0.8);
    text-align: center;
    width: fit-content;
    padding: 20px;
    margin: 1rem auto;
    border-radius: 1rem;
    animation: fadeInfadeout 1.8s ease-in;
    animation-fill-mode: forwards;
}

.filtros{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 2rem auto;
    font-family: "JetBrains Mono", monospace;
}

.filtros a{
    text-decoration: none;
    background-color: #F30800;
    padding: 5px;
    text-align: center;
    border-radius: 10px;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 1.2rem;
}

.filtros a:hover{
    background-color: #B20600;
}

@keyframes fadeInfadeout {
    0% {opacity: 0;}
    30% {opacity: 1;}
    70% {opacity: 1;}
    100% {opacity: 0;}
}
  
@media (min-width: 1024px) {
    
    .carousel{
        width: 100%;
        height: 20rem;
    }
    .carousel-item img {
        height: 45rem;
    }
    
    
}

@media (min-width: 768px) and (max-width: 1023px) {
    
    .carousel{
        width: 100%;
        height: 18rem;
    }
    .carousel-item img {
        height: 30rem;
    }
    
    
}