*   {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: "JetBrains Mono", monospace;
    background-color: #FAFAFA;
}
h2 {
    text-align: center;
    margin: 2rem 0;
    color: #F30800;
}

h1 {
    text-align: center;
    margin: 2rem 0;
    color: #333;
}

.shows-container {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.show-card{
    width: 60%;
    margin: 1rem auto;
    padding: 2rem;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.1);
    border-radius: 1rem ;
    background-color: white;
    height: 30%;
}

.voltar {
    display: inline-block;
    margin: 2rem auto;
    padding: 0.5rem 1rem;
    background-color: #F30800;
    color: white;
    text-decoration: none;
    border-radius: 60px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    margin-left: 1rem;
}

.voltar:hover {
    background-color: #D00600;
}
@media (min-width: 1024px) {
    .shows-container {
        width: 100%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }
    .show-card{
        width: 80%;
        height: 80%;
    }
}

a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 50%;
}

.red-button {
    display: inline-block;
    padding: 0.5rem 0.7rem;
    background-color: #F30800;
    border-radius: 50%;
    transition: background-color 0.3s ease;
    width: 40px;
    height: 40px;
}

.red-button:hover {
    background-color: #D00600;
}