.tabela{
    width: 75%;
    margin: 2rem auto;
    border-collapse: collapse;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-x: auto;
    font-family: "JetBrains Mono", monospace;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.1);
    border-radius: 1rem ;
}

.tabela th, .tabela td{
    padding: 8px;
    text-align: center;
}

.tabela tr:nth-child(even){
    background-color: #f2f2f2;
}
.tabela th{
    background-color: #F30800;
    color: white;
}
