{% extends "base.html" %}

{% block content %}
  <nav>
      <ul class="menu">
        <a href="#">
          <li>
            <span class="icone"><i class="bi bi-person-fill-gear"></i></span>
            <span class="texto">Configurações</span>
          </li>
        </a>

        <a href="#pesquisa">
          <li>
            <span class="icone"><i class="bi bi-search"></i></span>
            <span class="texto">Pesquisa</span>
          </li>
        </a>

        <a href="{{ url_for('artist.profile') }}">
          <li>
            <span class="icone"><i class="bi bi-person-circle"></i></span>
            <span class="texto">{{ user.name }}</span>
          </li>
        </a>

        <a href="{{ url_for('artist.logout') }}">
          <li>
            <span class="icone"><i class="bi bi-box-arrow-right"></i></span>
            <span class="texto">Logout</span>
          </li>
        </a>

        <a href="/shows_proximos">
          <li>
            <span class="icone"><i class="bi bi-cassette-fill"></i></span>
            <span class="texto">Shows</span>
          </li>
        </a>

        <a href="/marcar_show">
          <li>
            <span class="icone"><i class="bi bi-calendar-check"></i></span>
            <span class="texto">Marcar Shows</span>
          </li>
        </a>
      </ul>
    </nav>
  {% endblock %}