<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marcar Show</title>
</head>
<body>
<div class="lado-a-lado">
    {% if data %}
    <div class="profile-card">
        <h3 class="profile-card-title">Dados Cadastrados</h3>
    
        <div class="profile-info-group">
            <label class="profile-info-label">Nome do Evento::</label>
            <p class="profile-info-value">{{ data.titulo }}</p>
        </div>
    
        <div class="profile-info-group">
            <label class="profile-info-label">Artista:</label>
            <p class="profile-info-value">{{ data.artista }}</p>
        </div>
    
        <div class="profile-info-group">
            <label class="profile-info-label">Data do Show:</label>
            <p class="profile-info-value">{{ data.date }}</p>
        </div>
    
        <div class="profile-info-group">
            <label class="profile-info-label">Hora do Show:</label>
            <p class="profile-info-value bio-text">{{ data.hora }}</p>
        </div>
        <div class="profile-info-group">
            <label class="profile-info-label">Local do Show:</label>
            <p class="profile-info-value bio-text">{{ data.local }}</p>
        </div>

        <div class="profile-info-group">
            <label class="profile-info-label">Gênero:</label>
            <p class="profile-info-value bio-text">{{ data.genero }}</p>
        </div>
        <div class="profile-info-group">
            <label class="profile-info-label">Preço:</label>
            <p class="profile-info-value bio-text">{{ data.preco }}</p>
        </div>
        <div class="profile-info-group">
            <label class="profile-info-label">Localização:</label>
            <p class="profile-info-value bio-text">{{ data.localizacao }}</p>
        </div>
    </div>
    {% endif %}
    <div class="container">
        <form method="POST" action="{{ url_for('artist.marcar_show')}}">
            <h2>Marcar Show</h2>
            <div class="form-group">
                <label>Nome do Evento:</label>
                <input type="text" name="event" value="{{ data.titulo or '' }}" required>
            </div>

            <div class="form-group">
                <label>Artista:</label>
                <input type="text" name="artist" value="{{ data.artista or '' }}" required>
            </div>
            
            <div class="form-group">
                <label>Data do Show:</label>
                <input type="date" name="date" value="{{ data.date or '' }}" required>
            </div>

            <div class="form-group">
                <label>Hora do Show:</label>
                <input type="time" name="time" value="{{ data.hora or '' }}" required>
            </div>

            <div class="form-group">
                <label>Local do Show:</label>
                <input type="text" name="location" value="{{ data.local or '' }}" required>
            </div>

            <div class="form-group">
                <label>Gênero:</label>
                <select name="genero" required>
                <option value="Rock" {% if data.genero == 'Rock' %}selected{% endif %}>Rock</option>
                <option value="Pop" {% if data.genero == 'Pop' %}selected{% endif %}>Pop</option>
                <option value="Trap" {% if data.genero == 'Trap' %}selected{% endif %}>Trap</option>
                <option value="Sertanejo" {% if data.genero == 'Sertanejo' %}selected{% endif %}>Sertanejo</option>
                <option value="Funk" {% if data.genero == 'Funk' %}selected{% endif %}>Funk</option>
                <option value="Eletrônica" {% if data.genero == 'Eletrônica' %}selected{% endif %}>Eletrônica</option>
                <option value="Reggae" {% if data.genero == 'Reggae' %}selected{% endif %}>Reggae</option>
                <option value="Jazz" {% if data.genero == 'Jazz' %}selected{% endif %}>Jazz</option>
                <option value="Blues" {% if data.genero == 'Blues' %}selected{% endif %}>Blues</option>
                <option value="Clássica" {% if data.genero == 'Clássica' %}selected{% endif %}>Clássica</option>
            </select>
            </div>

            <div class="form-group">
                <label>Preço:</label>
                <input type="number" name="preco" value="{{ data.preco or '' }}" required>
            </div>

            <button type="submit">Marcar Show</button>
            

        </form>
    </div>
</body>
</html>