{% extends "base.html" %}

{% block title %}Configurações do Usuario{% endblock %}

{% block content %}
<div class="profile-form">
    <h2>Configurações do Usuario</h2>
    <form method="POST" >
        <div class="form-group">
            <label for="usuario">Nome de Exibição:</label>
            <input type="text" id="usuario" name="usuario" required>
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
        </div>
        <div class="form-group">
            <label for="textarea">Bios:</label>
            <input type="textarea" id="bios" name="bios">
        </div>
        <button type="submit" class="btn">Enviar</button>
    </form>
</div>
{% endblock %}