<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Principal</title>
</head>
<body>
    <header>
        <p>aqui vai ser o header </p>
    </header>

    <button onclick="obterLocalizacao()">Obter Localização</button>
    <script src="/static/javascript/geolocalizacao.js"></script>

    <p id="status"></p>
    <p id="latitude"></p>
    <p id="longitude"></p>
    <a id="map-link" style="display:none;"></a>

    <main>
        <section class="site">
            <div class="slides">
                <img src="/static/images/imagemc1.png" alt="mulher tocando guitarra">
                <img src="/static/images/imagemc2.png" alt="mulher tocando violão">
                <img src="/static/images/imagemc3.png" alt="banda tocando em um show">
                <img src="/static/images/imagemc4.png" alt="mulher tocando violaocelo">
            </div>
            
        </section>

</body>
</html>