{% extends "base.html" %}

{% block content %}
<section class="carousel">
      <div class="carousel-track">
        <div class="carousel-item">
          <img src="../static/images/imagemc1.png" alt="">
          <h2 class="carousel-title">Descubra músicos perto de você</h2>

        </div>

        <div class="carousel-item">
          <img src="../static/images/imagemc2.png" alt="">
          <h2 class="carousel-title">Sempre saiba os melhores lugares para ir</h2>
        </div>

        <div class="carousel-item">
          <img src="../static/images/imagemc3.png" alt="">
          <h2 class="carousel-title">Demonstre o seu verdadeiro talento</h2>
        </div>
      </div>

      <button class="prev">❮</button>
      <button class="next">❯</button>
      </div>

    </section>
    <div class="status"><span id="status"></span></div>
    <section class="sobre">
      <h2>Sobre o Site</h2>
      <p>Bem-vindo ao SoundTrack, a plataforma que conecta músicos e amantes da música em um só lugar. Nossa missão é
        facilitar o encontro entre artistas talentosos e públicos apaixonados, proporcionando experiências musicais
        inesquecíveis. Seja você um músico em busca de oportunidades para se apresentar ou um fã procurando novos shows,
        o SoundTrack é o lugar ideal para descobrir e compartilhar a magia da música ao vivo.</p>

    </section>

    <form method="get" class="search-form">
      <div class="centralizar">
        <div class="pesquisa">
          <input type="text" placeholder="Pesquisar shows..." name="pesquisa" id="pesquisa">
          <button type="submit"><i class="bi bi-search"></i></button>
          <a href="/?ordenar=alfabetica" id="alfabeto"><i class="bi bi-alphabet"></i></a>
          <a href="/?ordenar=preco" id="preco"><i class="bi bi-currency-dollar"></i></a>
          <a href="/"><i class="bi bi-x"></i></a>

        </div>

      </div>
      <div class="filtros">
        <label for="filtro-genero">Gênero:</label>
        <select id="filtro-genero" name="filtro_genero" class="opcoes" onchange="this.form.submit()">
          <option value="" class="opcao">Todos</option>
          {% for genero in generos %}
          <option value="{{ genero }}" {% if request.args.get('filtro_genero') == genero %}selected{% endif %}>
            {{ genero }}
          </option>
          {% endfor %}
        </select>
      </div>
    </form>
    <div class="pesquisa-tabela">
      <div class="tabela" id="tabela">
        <table>
          <thead>
            <tr>
              <th>Título</th>
              <th>Artista</th>
              <th>Data</th>
              <th>Local</th>
              <th>Hora</th>
              <th>Gênero</th>
              <th>Preço</th>
              <th>Proximidade</th>
              <th>link</th>
            </tr>
          </thead>
          <tbody>
            {% for show in shows[:10] %}
            <tr>
              <td>{{ show.titulo }}</td>
              <td>{{ show.artista }}</td>
              <td>{{ show.data }}</td>
              <td>{{ show.local }}</td>
              <td>{{ show.hora }}</td>
              <td>{{ show.genero }}</td>
              <td>{{ show.preco }}</td>
              <td class="distancia" data-titulo="{{ show.titulo }}">
                {% if show.distancia is not none %}
                {{ show.distancia }} ----------
                {% else %}
                N/A
                {% endif %}
              </td>
              <td><a href="https://www.google.com/maps?q={{show.latitude}},{{show.longitude}}" target="_blank"
                  class="localidade"><i class="fa-solid fa-location-pin"></i></a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <a id="map-link" href="" target="_blank" class="local"> Seu Local <i class="fa-solid fa-map-location"></i></a>
  </main>
  {% endblock %}